{% extends 'base.html' %}

{% block title %}Quality Models Assessment{% endblock %}

{% block head %}
    {{ block.super }}
    {% load static %}
    <style>
      .node {
        cursor: pointer;
        margin: 0px;
      }

      .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
      }

      .node text {
        font: 10px sans-serif;
        background-color: #ffffff;
      }

      .link {
        fill: none;
        stroke: #ccc; /*#717171; #ccc; */
        stroke-width: 1.5px;
      }
    </style>
{% endblock %}

{% block body %}

{% if errors %}
<div class="container-fluid">
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Errors:</strong> {{ errors }}
    </div>
</div>
{% endif %}

<!-- Start: Assessment Config Editor -->
<div class="container-fluid">
  {% include "prosoul/assessment_config.html" %}
</div>
<!-- End: Assessment Config Editor -->


{% endblock %}
