<!-- Modal: Add metric -->
<div class="modal fade" id="addMetricModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <form method="post">
        <fieldset id="add-metric">
          {% csrf_token %}
          {% for field in metric_form.state_fields %}
          {{ field }}
          {% endfor %}
          {{ metric_form.old_attribute_id }}
          {{ metric_form.metric_id }}
          {{ metric_form.name.errors }}
          <div class="modal-header">
            <div class="modal-title">
              {% if not metric_form.initial.metric_name %}
              Add
              {% else %}
              Edit
              {% endif %}
              metric for <strong>{{ attributes_form.initial.name }}</strong> in
              <strong>{{ goals_form.initial.name }}</strong> in <strong>{{ qmodels_form.initial.name }}</strong>
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="input-group"><span class="input-group-addon">Name</span>{{ metric_form.metric_name }}</div>
            <div class="input-group"><span class="input-group-addon">Thresholds</span>{{ metric_form.metric_thresholds }}</div>
            <div class="input-group"><span class="input-group-addon">Data</span>{{ metric_form.metrics_data }}
            </div>
            <div class="input-group"><span class="input-group-addon">Attribute</span>{{ metric_form.attributes }}</div>
            <div class="input-group"><span class="input-group-addon">Calculation Type</span>{{ metric_form.calculation_type }}</div>
          </div>
          <div class="modal-footer">
            <div class="form-actions pull-right">
              <div class="input-group">
                {% if not metric_form.initial.metric_name %}
                <div id="metric-add-btn" class="button-group">
                  <button type="submit" formaction='./add_metric' class="btn"><i class="fa fa-plus"></i> Add</button>
                </div>
                {% else %}
                <div id="metric-edit-btn" class="button-group">
                  <button type="submit" formaction="./update_metric" class="btn"><i class="fa fa-save"></i> Save</button>
                  <button type="submit" formaction='./remove_metric' class="btn"><i class="fa fa-trash-o"></i> Remove</button>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
