{% extends 'base.html' %}
{% with active_page="viewer" %}

{% block title %}Quality Models{% endblock %}

{% block head %}
    {{ block.super }}
    {% load static %}
    <style>
      .al-h1 {
          margin: 30px 100px 20px 0px;
          text-align: right;
          color: orange;
      }

      .desc {
          margin-left: 20px;
      }

      .desc-title {
          font-size: 120%;
          font-weight: bold;
      }

      .navbar-default .navbar-brand {
          color: #ffffff;
          font-weight: bold;
      }

      .navbar {
          color: #ffffff;
          background-color: #3E3F3A;
      }

      body {
          color: #3E3F3A;
      }

      .sidebar ul li a {
          color: #3e3f3a;
          text-decoration: none;
      }

      div#tree {
      }

      .label-scale {
          font-weight: bold;
          color: black;
          padding: 0px 15px;
          margin: 0px 10px;
      }

      .node {
        cursor: pointer;
        margin: 0px;
      }

      .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
      }

      .node text {
        font: 10px sans-serif;
        background-color: #ffffff;
      }

      .link {
        fill: none;
        stroke: #ccc; /*#717171; #ccc; */
        stroke-width: 1.5px;
      }

      div.progress-bar {
        color: black;
        font-weight: bold;
      }

      div.panel-heading {
        font-weight: bold;
      }

      div#details-box {
        width: 600px;
        margin: 10px 40px 10px 40px;
        background-color: white;
        opacity: 0.8;

        border-style: solid;
        border-width: 1px;
        border-color: steelblue;

        padding: 20px;
        float: right;
        clear: right;
        position: fixed;
        bottom: 50px;
        right: 5px;
      }

      div#details-box-project {
        margin: 10px 40px 10px 40px;
        background-color: white;
        opacity: 0.8;

        border-style: solid;
        border-width: 1px;
        border-color: steelblue;

        padding: 20px;
        right: 5px;
      }

      .title {
        font-weight: bold;
        font-size: 120%;
        margin: 10px 0px;
      }

      .details {
        color: black;
        margin: 10px;
        font-weight: normal;
      }

      .fa-rotate-p45 {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
      }

      .fa-rotate-m45 {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
      }
    </style>
{% endblock %}

{% block body %}

<!-- LEFT COLUMN -->
<div style="float:left; width:70%; margin-right: 10px; height:90%; min-height: 600px;">

{% include 'prosoul/viewer_js.html' %}

</div>
<!-- END LEFT COLUMN -->

<!-- RIGHT COLUMN -->
<div>
  <div class="form-group">
    Select a quality model to show:
    <form>
      <select style="width:20%;" name="qmodel_selected" multiple class="form-control"
      rows="4" onchange="submit()">
        {% for qmodel in qmodels %}
          {% if qmodel.name == qmodel_selected %}
            <option selected>{{qmodel.name}}</option>
          {% else %}
            <option>{{qmodel.name}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </form>
  </div>

    <div style="height:100px"></div>
    Quality Models: {{qmodels|length}}<br>
    Attributes in selected model: {{attributes_data.children|length}}<br>
    Metrics in selected model: {{metrics_data.children|length}}<br>
    <!--
    <div style="height:100px"></div>
    <a href="?project={{project_selected}}&export_file=project.json" class="btn btn-success" role="button">Export Quality Models</a>
    <div style="height:10px"></div>
    <a href="?project={{project_selected}}&import_file=project.json" class="btn btn-success" role="button">Import Quality Models</a>
    -->
</div>
<!-- END RIGHT COLUMN -->
{% endblock %}
{% endwith  %}
