{% extends 'base.html' %}

{% block title %}Quality Models Assessment{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block body %}

{% if errors %}
<div class="container-fluid">
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Errors:</strong> {{ errors }}
    </div>
</div>
{% endif %}

<!-- Start: Assessment Config Editor -->
<div class="container-fluid">
  {% include "prosoul/assessment_config.html" %}
</div>
<!-- End: Assessment Config Editor -->


{% endblock %}
