<!-- Modal: Add qmodel -->
<div class="modal fade" id="addQualityModelModal" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
          <form action="./add_qmodel" method="post">
              {% csrf_token %}
          <div class="modal-header">
            <div class="modal-title">Add Quality Model</div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                  {{ qmodel_form.qmodel_name }}
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
        </div>
    </div>
</div>
