<div class="row">
  <div class="col-sm-6">
    <h2>Goals</h2>
  </div>
  <div class="col-sm-6">
    <div class="button-group">
      <button type="submit" class="btn btn-primary" id="add-goal-btn" data-toggle="modal" data-target="#addGoalModal">
        <i class="fa fa-plus"></i> Add<span class="sr-only"> goal</span>
      </button>
      <button type="submit" class="btn btn-primary" id="edit-goal-btn" data-toggle="modal" data-target="#addGoalModal">
        <i class="fa fa-pencil"></i> Edit<span class="sr-only"> goal</span>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <form action="./select_goal" method="post">
      <fieldset id="select-goal">
        {% csrf_token %}
        {% for field in goals_form.state_fields %}
        {{ field }}
        {% endfor %}
        {{ goals_form.name.errors }}
        <div class="form-group form-group-lg">
          {{ goals_form.name }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="select-goal-btn">
            <i class="fa fa-check"></i> Select <span class="sr-only"> goal</span>
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
