{% extends 'base.html' %}
{% with active_page="editor" %}

{% block title %}Editor{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block body %}


<!-- Start: Quality Models Editor -->
<div class="container-fluid">
  {% include "meditor/editor_import.html" %}
  {% include "meditor/editor_export.html" %}
  {% include "meditor/editor_qmodel.html" %}
  {% include "meditor/editor_qmodels.html" %}
</div>
<!-- End: Quality Models Editor -->


<!-- Start: Editor body -->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-3">
      <!-- Start: Goals column -->
      {% include "meditor/editor_goal.html" %}
      {% include "meditor/editor_goals.html" %}
    </div>
    <!-- End: Goals block -->
    <!-- Start: Attributes + Metrics block ... to be splitted -->
    <div class="col-md-3">
      {% include "meditor/editor_attribute.html" %}
      {% include "meditor/editor_attributes.html" %}
    </div>
    <div class="col-md-3">
      {% include "meditor/editor_metric.html" %}
      {% include "meditor/editor_metrics.html" %}
    </div>
    <!-- Start: Scope block -->
    <div class="col-md-3">
      {% include "meditor/editor_scope.html" %}
    </div>
    <!-- End: Scope block -->
  </div>
  <!-- End: Editor body -->
</div>

<script>

// Disable "onclick" event when selecting a qmodel on
// Import and Download modals.
eco_download_form = document.getElementById("qmodel_download");
eco_download_form["name"].removeAttribute("onclick");
eco_download_form = document.getElementById("qmodel_import");
eco_download_form["name"].removeAttribute("onclick");

// Functions to show/hide buttons on modals depending on the action.
function showAddButtons() {
    document.getElementById("add-btn-group-rv_modal").style.display = "block";
    document.getElementById("edit-btn-group-rv_modal").style.display = "none";
    $('#addMetricModal').modal('show');
}

function showEditButtons(){
    document.getElementById("add-btn-group-rv_modal").style.display = "none";
    document.getElementById("edit-btn-group-rv_modal").style.display = "block";
    $('#addMetricModal').modal('show');
}

// Disable element
function disableElement(element_id) {
    document.getElementById(element_id).disabled = true;
}

</script>

<!-- Element disabling control-->
{% if not qmodels_form.initial.name %}
    {% if qmodels_form.name|length == 1 %}
        <script>
        // If there are no qmodels, open `add` modal
        // qmodels length is 1 because of the empty option
            $('#addQualityModelModal').modal('show');
        </script>
    {% endif %}
    <script>
        disableElement("add-goal");
        disableElement("add-goal-btn");
        disableElement("select-goal");
        disableElement("remove-goal");
        disableElement("add-attribute");
        disableElement("add-attribute-btn");
        disableElement("select-attribute");
        disableElement("select-metric");
        disableElement("add-metric-btn");
        disableElement("edit-metric-btn");
    </script>
{% elif not goals_form.initial.name %}
    {% if goals_form.name|length == 0 %}
        <script>
            disableElement("select-goal");
            // If there are no goals, open `add` modal
            $('#addGoalModal').modal('show');
        </script>
    {% endif %}
    <script>
        disableElement("remove-goal");
        disableElement("add-attribute");
        disableElement("select-attribute");
        disableElement("select-metric");
    </script>
{% elif not attributes_form.initial.name %}
    {% if attributes_form.name|length == 0 %}
        <script>
            disableElement("select-attribute");
            // If there are no attributes, open `add` modal
            $('#addAttributeModal').modal('show');
        </script>
    {% endif %}
    <script>
      disableElement("remove-attribute");
      disableElement("select-metric");
    </script>
{% elif not metrics_form.initial.name %}
    {% if metrics_form.id|length == 0 %}
        <script>
            disableElement("select-metric");
            // If there are no metrics, open `add` modal
            $('#addMetricModal').modal('show');
        </script>
    {% endif %}
{% endif %}
<!-- End of element disabling control-->

{% endblock %}
{% endwith %}
