{% extends 'base.html' %}
{% with active_page="editor" %}

{% block title %}Editor{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block body %}

<!-- Editor modals -->

<div class="container-fluid">
  <!-- Modal: Import -->
  <div class="modal fade" id="importModal" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
          <div class="modal-content">
            <form id="qmodel_import" method="POST" action="./import/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
                <div class="modal-title">
                    Import quality model file
                </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
               <div class="input-group">
                 <span class="input-group-addon"><i class="fa fa-arrow-circle-o-up"></i></span>
                 <input type="file" name="imported_file" placeholder="Select JSON file" accept="application/json" required=True class="form-control">
               </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Import</button>
            </div>
          </form>
          </div>
      </div>
  </div>

  <!-- Modal: Download -->
  <div class="modal fade" id="exportModal" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
          <div class="modal-content">
            <form id="qmodel_download" method="POST" action="./export/" enctype="multipart/form-data">{% csrf_token %}
            <div class="modal-header">
              <div class="modal-title">Download quality model file</div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        {{ qmodels_form.name }}
                    </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Download</button>
            </div>
          </form>
          </div>
      </div>
  </div>

  <!-- Modal: Add qmodel -->
    <div class="modal fade" id="addQualityModelModal" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
              <form action="./add_qmodel" method="post">
                  {% csrf_token %}
              <div class="modal-header">
                <div class="modal-title">Add Quality Model</div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                      {{ qmodel_form.qmodel_name }}
                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
            </div>
        </div>
    </div>

  <!-- Modal: Add goal -->
  <div class="modal fade" id="addGoalModal" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
          <div class="modal-content">
                <div class="modal-header">
                    <form>
                        <div class="modal-title">Add goal for <strong>{{ qmodels_form.initial.name }}</strong></div>
                    </form>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="container">
                    <form action="./add_goal" method="post" enctype="multipart/form-data">
                        <fieldset id="add-goal">
                            <div class="modal-body">
                                {% csrf_token %}
                                {% for field in goal_form.state_fields %}
                                  {{ field }}
                                {% endfor %}
                                {{ goal_form.name.errors }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-suitcase"></i></span>
                                    {{ goal_form.goal_name }}
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Add goal</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
          </div>
      </div>
  </div>

  <!-- Modal: Add attribute -->
  <div class="modal fade" id="addAttributeModal" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
          <div class="modal-content">
                <div class="modal-header">
                    <form>
                        <div class="modal-title">Add attribute for <strong>{{ goals_form.initial.name }}</strong></div>
                    </form>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="container">
                    <form action="./add_attribute" method="post">
                        <fieldset id="add-attribute">
                            <div class="modal-body">
                                {% csrf_token %}
                                {% for field in attribute_form.state_fields %}
                                  {{ field }}
                                {% endfor %}
                                {{ attribute_form.name.errors }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-suitcase"></i></span>
                                    {{ attribute_form.attribute_name }}
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Add attribute</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
          </div>
      </div>
  </div>


  <!-- Modal: Add metric -->
  <div class="modal fade" id="addMetricModal" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
          <div class="modal-content">
            <form method="post">
                <fieldset id="add-metric">
                    {% csrf_token %}
                    {% for field in metric_form.state_fields %}
                      {{ field }}
                    {% endfor %}
                    {{ metric_form.old_attribute }}
                    {{ metric_form.metric_id }}
                    {{ metric_form.name.errors }}
                <div class="modal-header">
                  <div class="modal-title">Metric for <strong>{{ attributes_form.initial.name }}</strong> in <strong>{{ goals_form.initial.name }}</strong> in <strong>{{ qmodels_form.initial.name }}</strong></div>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="input-group"><span class="input-group-addon">Name</span>{{ metric_form.metric_name }}</div>
                    <div class="input-group"><span class="input-group-addon">Attribute</span>{{ metric_form.attributes }}</div>
                    </div>
                <div class="modal-footer">
                    <div class="form-actions pull-right">
                        <div class="input-group">
                            <div id="add-btn-group-rv_modal" class="button-group">
                                <button type="submit" formaction='./add_metric' class="btn"><i class="fa fa-plus"></i> Add</button>
                            </div>
                            <div id="edit-btn-group-rv_modal" class="button-group">
                                <button type="submit" formaction="./update_metric" class="btn"><i class="fa fa-save"></i> Save</button>
                                <button type="submit" formaction='./remove_metric' class="btn"><i class="fa fa-trash-o"></i> Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
          </form>
          </div>
      </div>
  </div>

</div>

<!-- Main body -->
    <div class="container-fluid">
      <!-- Start: Editor header -->
      <div class="row">
        <div class="col-md-4">
          <form class="form-inline" action="./editor_select_qmodel" method="post">
            {% csrf_token %}
            {% for field in qmodels_form.state_fields %}
            {{ field }}
            {% endfor %}
            {{ qmodels_form.name.errors }}
            <div class="form-group mb-2">
              <label for="id_name"><h1>QualityModel:</h1></label>
              {{ qmodels_form.name }}
            </div>
          </form>
        </div>
        <div class="col-md-5">

        </div>
        <div class="col-md-3">
          <div class="button-group text-right row">
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addQualityModelModal">
              <i class="fa fa-plus"></i> Add <span class="sr-only">qmodel</span>
            </button>
            <fieldset>
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#importModal">
                  <i class="fa fa-upload"></i> Import <span class="sr-only">qmodel</span>
                </button>
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#exportModal">
                  <i class="fa fa-download"></i> Export <span class="sr-only">qmodel</span>
                </button>
            </fieldset>
          </div>
        </div>
      </div>
      <!-- End: Editor header -->
    </div>
    <div class="container-fluid">
      <!-- Start: Editor body -->
      <div class="row">
        <!-- Start: Goals block -->
        <div class="col-md-2">
          <div class="row">
            <div class="col-sm-8">
              <h2>Goals</h2>
            </div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-primary" id="add-goal-btn" data-toggle="modal" data-target="#addGoalModal">
                <i class="fa fa-plus"></i> Add<span class="sr-only"> goal</span>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <form action="./editor_select_goal" method="post">
                <fieldset id="select-goal">
                    {% csrf_token %}
                    {% for field in goals_form.state_fields %}
                      {{ field }}
                    {% endfor %}
                    {{ goals_form.name.errors }}
                    <div class="form-group form-group-lg">
                      {{ goals_form.name }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="select-goal-btn">
                          <i class="fa fa-check"></i> Select <span class="sr-only"> goal</span>
                        </button>
                    </div>
                </fieldset>
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h3>Remove goal</h3>
                <form action="./remove_goal" method="post">
                    <fieldset id="remove-goal">
                      {% csrf_token %}
                      {% for field in goal_remove_form.state_fields %}
                        {{ field }}
                      {% endfor %}
                      {{ goal_remove_form.name.errors }}
                        <div class="input-group">
                            {{ goal_remove_form.goal_name }}
                            <button type="submit" class="btn btn-danger" id="remove-goal-btn"><span><i class="fa fa-trash-o"></i></span> Remove<span class="sr-only"> goal</span></button>
                        </div>
                    </fieldset>
                </form>
            </div>
          </div>
        </div>
        <!-- End: Goals block -->
        <!-- Start: Attributes + Metrics block ... to be splitted -->
        <div class="col-md-7">
          <div class="row">
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-8">
                  <h2>Attributes</h2>
                </div>
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-primary" id="add-attribute-btn" data-toggle="modal" data-target="#addAttributeModal">
                    <i class="fa fa-plus"></i> Add<span class="sr-only"> goal</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-8">
                  <h2>Metrics</h2>
                </div>
                <div class="col-sm-4">
                  <div class="button-group">
                    <button type="submit" class="btn btn-primary" id="add-metric-btn" onclick="showAddButtons();"><span><i class="fa fa-plus"></i></span> Add<span class="sr-only"> metric data</span></button>
                    <button type="submit" class="btn btn-primary" id="edit-metric-btn" onclick="showEditButtons();"><span><i class="fa fa-pencil"></i> Edit<span class="sr-only"> metric data</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
                <form action="./select_attribute" method="post">
                    <fieldset id="select-attribute">
                      {% csrf_token %}
                      {% for field in attributes_form.state_fields %}
                        {{ field }}
                      {% endfor %}
                      {{ attributes_form.name.errors }}
                      <div class="form-group">
                        {{ attributes_form.name }}
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="select-dataSource-btn"><span><i class="fa fa-check"></i></span> Select<span class="sr-only"> attribute type</span></button>
                      </div>
                  </fieldset>
                </form>
            </div>
            <div class="col-sm-8">
                <form action="./select_metric" method="post">
                    <fieldset id="select-metric">
                      {% csrf_token %}
                      {% for field in metrics_form.state_fields %}
                        {{ field }}
                      {% endfor %}
                      {{ metrics_form.name.errors }}
                      <div class="form-group">
                        {{ metrics_form.id }}
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="select-metric-btn"><span><i class="fa fa-check"></i></span> Select<span class="sr-only"> Metric<span></button>
                      </div>
                    </fieldset>
                </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <h3>Remove attribute</h3>
                <form action="./remove_attribute" method="post">
                    <fieldset id="remove-attribute">
                      {% csrf_token %}
                      {% for field in attribute_remove_form.state_fields %}
                        {{ field }}
                      {% endfor %}
                      {{ attribute_remove_form.name.errors }}
                        <div class="input-group">
                            {{ attribute_remove_form.attribute_name }}
                            <button type="submit" class="btn btn-danger" id="remove-attribute-btn"><span><i class="fa fa-trash-o"></i></span> Remove<span class="sr-only"> attribute</span></button>
                        </div>
                    </fieldset>
                </form>
            </div>
          </div>
        </div>
        <!-- Start: Scope block -->
        <div class="col-md-3">
          <h2>Scope</h2>
          <table class="table table-hover">
              <tbody>
                <tr>
                  <td>Goals</td>
                  <td>{{ goals_form.name|length }}</td>
                </tr>
                <tr>
                  <td>Attributes</td>
                  <td>{{ attributes_form.name|length }}</td>
                </tr>
                <tr>
                  <td>Metrics Data</td>
                  <td>{{ metrics_form.id|length }}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <!-- End: Scope block -->
      </div>
      <!-- End: Editor body -->
    </div>

    <script>

    // Disable "onclick" event when selecting an qmodel on
    // Import and Download modals.
    eco_download_form = document.getElementById("qmodel_download");
    eco_download_form["name"].removeAttribute("onclick");
    eco_download_form = document.getElementById("qmodel_import");
    eco_download_form["name"].removeAttribute("onclick");

    // Functions to show/hide buttons on modals depending on the action.
    function showAddButtons() {
        document.getElementById("add-btn-group-rv_modal").style.display = "block";
        document.getElementById("edit-btn-group-rv_modal").style.display = "none";
        $('#addMetricModal').modal('show');
    }

    function showEditButtons(){
        document.getElementById("add-btn-group-rv_modal").style.display = "none";
        document.getElementById("edit-btn-group-rv_modal").style.display = "block";
        $('#addMetricModal').modal('show');
    }

    // Disable element
    function disableElement(element_id) {
        document.getElementById(element_id).disabled = true;
    }

    </script>
    <!-- Element disabling control-->
    {% if not qmodels_form.initial.name %}
        {% if qmodels_form.name|length == 1 %}
            <script>
            // If there are no qmodels, open `add` modal
            // qmodels length is 1 because of the empty option
                $('#addQualityModelModal').modal('show');
            </script>
        {% endif %}
        <script>
            disableElement("add-goal");
            disableElement("add-goal-btn");
            disableElement("select-goal");
            disableElement("remove-goal");
            disableElement("add-attribute");
            disableElement("add-attribute-btn");
            disableElement("select-attribute");
            disableElement("select-metric");
            disableElement("add-metric-btn");
            disableElement("edit-metric-btn");
        </script>
    {% elif not goals_form.initial.name %}
        {% if goals_form.name|length == 0 %}
            <script>
                disableElement("select-goal");
                // If there are no goals, open `add` modal
                $('#addGoalModal').modal('show');
            </script>
        {% endif %}
        <script>
            disableElement("remove-goal");
            disableElement("add-attribute");
            disableElement("select-attribute");
            disableElement("select-metric");
        </script>
    {% elif not attributes_form.initial.name %}
        {% if attributes_form.name|length == 0 %}
            <script>
                disableElement("select-attribute");
                // If there are no attributes, open `add` modal
                $('#addAttributeModal').modal('show');
            </script>
        {% endif %}
        <script>
          disableElement("remove-attribute");
          disableElement("select-metric");
        </script>
    {% elif not metrics_form.initial.name %}
        {% if metrics_form.id|length == 0 %}
            <script>
                disableElement("select-metric");
                // If there are no metrics, open `add` modal
                $('#addMetricModal').modal('show');
            </script>
        {% endif %}
    {% endif %}
    <!-- End of element disabling control-->
{% endblock %}
{% endwith %}
